@model List<ProductosDto>
<!DOCTYPE html>
<html lang="en">

<head>
    <title>CSS Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav class="order">
        <div>
            @Html.ActionLink("Ordenar por Precio","OrderPrecio")
            @Html.ActionLink("Ordenar ABC","OrderABC")
        </div>
    </nav>

    <div class="content">
        <table class="tablacards">
            @foreach (var prod in Model)
            {
                <div class="card" style="width: 18rem;">
                    <img src='@Url.Content("~/img/"  + @prod.FotoRuta)' class="square" style="width: 18rem;height:18rem;" />
                    <div class="card-body">
                        <h5 class="card-title">@prod.Nombre</h5>
                        <p class="card-text">@prod.Detalle</p>
                        <p class="card-text">@prod.Marca</p>
                        <p class="card-text">$ @prod.Costo</p>
                        <button class="btn btn-primary">@Html.ActionLink("Sumar a Carrito","Comprar",new { id=prod.Id })</button>
                    </div>
                </div>
            }
        </table>
    </div>
</body>

</html>
